.user-avatar{
    background-size: cover;
    max-height: 150px;
    background-position: center;
    background-color: #ccc;
}
.user-card{
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
}
.result-container{
    margin: 0 auto;
    width: 500px;
}
button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }